<div class="container  col-5">
  <form class="m-4" #loginform="ngForm" (ngSubmit)="registerUser()">
    <div class="col text-center">
      <h3>User Registration</h3>
    </div>
    <small class="text-danger">{{msg}}</small>
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" name="name" required placeholder="Enter Full Name"
        [(ngModel)]="user.name" />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" required name="email" placeholder="Enter email"
        [(ngModel)]="user.email" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" required name="password" placeholder="Password"
        [(ngModel)]="user.password" />
    </div>
    <div class="form-group">
      <label>Full Mobile Number</label>
      <input type="text" class="form-control" required name="mobile" placeholder="Enter Mobile Number"
        [(ngModel)]="user.mobile" />
    </div>

    <button type="submit" class="btn btn-primary btn-block">Register</button>
  </form>
</div>
