<h3 class="container mt-4" >{{productDetails.productName}}</h3>
<hr class="container">
<div class="products">
    <div class="container1">
        <div class="row">
            <div class="col-md-8">
                <div class="col-5">
                    <img class="ml-5 img" height="700px" src="{{productDetails.productUrl}}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="">
                    <h2>{{productDetails.productName}}</h2>
                    <h3>{{productDetails.productPrice}}</h3>
                    <h5>{{productDetails.productDescription}}</h5>
                </div>
                <button (click)="deleteById(productDetails.productId)" class="btn btn-danger">Delete</button>
                <button (click)="updateById(productDetails.productId)" class="btn btn-primary">Update</button>

            </div>
        </div>
    </div>
</div>
